<head th:fragment="css" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title th:text="'POS | '+${page_title}"></title>
    <link rel="stylesheet" th:href="@{/backend/assets/css/app.min.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/css/components.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/css/custom.css}">
    <link rel='shortcut icon' type='image/x-icon' th:href='@{/backend/assets/img/favicon.ico}' />
    <link rel="stylesheet" th:href="@{/backend/assets/bundles/select2/dist/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/bundles/datatables/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/bundles/jquery-selectric/selectric.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/bundles/izitoast/css/iziToast.min.css}">
    <link rel="stylesheet" th:href="@{/backend/assets/bundles/bootstrap-daterangepicker/daterangepicker.css}">
</head>