<th th:fragment="script" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/backend/assets/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/backend/assets/bundles/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/backend/assets/js/app.min.js}"></script>
    <script th:src="@{/backend/assets/bundles/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/backend/assets/js/page/index.js}"></script>
    <script th:src="@{/backend/assets/js/scripts.js}"></script>
    <script th:src="@{/backend/assets/js/custom.js}"></script>
    <script th:src="@{/backend/assets/bundles/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/backend/assets/js/app2.js}"></script>
    <script th:src="@{/backend/assets/bundles/select2/dist/js/select2.full.min.js}"></script>
    <script th:src="@{/backend/assets/js/page/advance-table.js}"></script>
    <script th:src="@{/backend/assets/js/page/forms-advanced-forms.js}"></script>
    <script th:src="@{/backend/assets/bundles/datatables/datatables.min.js}"></script>
    <script th:src="@{/backend/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/backend/assets/bundles/jquery-selectric/jquery.selectric.min.js}"></script>
    <script th:src="@{/backend/assets/js/page/posts.js}"></script>
    <script th:src="@{/backend/assets/bundles/izitoast/js/iziToast.min.js}"></script>
    <script th:src="@{/backend/assets/js/page/toastr.js}"></script>
    <script th:src="@{/backend/assets/bundles/bootstrap-daterangepicker/daterangepicker.js}"></script>
</th>
