<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/templates}">
<div class="main-content" layout:fragment="content">
    <section class="section">
        <div class="row">
            <div class="col-12">
                <a title="Return" class="btn btn-info" th:href="${param.return_url}">
                    <i data-feather="arrow-left-circle"></i>
                    &nbsp;Back
                </a>
                <br>
                <br>
                <div class="alert alert-warning alert-has-icon alert-dismissible show fade" th:if="${error}">
                    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                    <div class="alert-body">
                        <div class="alert-title">Oops</div>
                        <button class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        <strong th:text="${error}" th:if="${error}"></strong>
                    </div>
                </div>
                <div class="alert alert-success alert-has-icon alert-dismissible show fade" th:if="${success}">
                    <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
                    <div class="alert-body">
                        <div class="alert-title">Wow, good job...</div>
                        <button class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        <strong th:text="${success}" th:if="${success}"></strong>
                    </div>
                </div>
                <div class="card card-primary">
                    <form enctype="multipart/form-data"
                          th:action="@{${url}+'/save'}" method="POST" th:object="${cms}" th:with="currentUrl=(${@currentUrlWithoutParam.apply('')})">
                        <input type="hidden" name="return_url" th:value="${param.return_url}">
                        <input type="hidden" name="current_url" th:value="${currentUrl}">
                        <input type="hidden" th:field="*{item_id}" name="item_id" th:if="${edit}">
                        <input type="hidden" name="edit" value="true" th:if="${edit}">
                        <input type="hidden" name="user_id" th:value="${session.id_users}">
                        <div class="card-header" th:if="${!edit}">
                            <h4>Add Item</h4>
                        </div>
                        <div class="card-header" th:if="${edit}">
                            <h4>Edit Item</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Barcode</label>
                                <input type="text" class="form-control" id="barcode" name="barcode" th:field="*{barcode}"  placeholder="Enter Barcode" required="">

                            </div>
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" class="form-control" id="name" name="name" th:field="*{name}"  placeholder="Enter Product Name" required="">

                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <select name="categories" required id="" th:field="*{categories}" class="form-control">
                                    <option value="">** Select Category</option>
                                    <option th:value="${row.category_id}" th:text="${row.name}" th:each="row,i : ${categories}" ></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Unit</label>
                                <select name="units" required th:field="*{units}" class="form-control">
                                    <option value="">** Select Unit</option>
                                    <option th:value="${row.unit_id}" th:text="${row.name}" th:each="row,i : ${units}" ></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" id="price" name="price" th:field="*{price}"  placeholder="Enter Product Price" required="">

                            </div>
                            <div class="form-group">
                                <label>Stock</label>
                                <input type="text" class="form-control" id="stock" name="stock" th:field="*{stock}"  placeholder="Enter Product Stock" required="">

                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" class="form-control" id="gambar" name="gambar">
                                <span th:if="${edit}" class="help-text">Biarkan kosong jika tidak ingin mengubah Image</span>

                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button type="submit" name="submit" value="save" class="btn btn-primary">Submit</button>
                            <button name="submit" type="submit" class="btn btn-primary" value="more" th:if="${!edit}">Save & More</button>
                            <a th:href="${param.return_url}" class="btn btn-warning">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="settingSidebar">
        <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
        </a>
        <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
                <div class="setting-panel-header">Setting Panel
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Select Layout</h6>
                    <div class="selectgroup layout-color w-50">
                        <label class="selectgroup-item">
                            <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                            <span class="selectgroup-button">Light</span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                            <span class="selectgroup-button">Dark</span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Sidebar Color</h6>
                    <div class="selectgroup selectgroup-pills sidebar-color">
                        <label class="selectgroup-item">
                            <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                  data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                        </label>
                        <label class="selectgroup-item">
                            <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                            <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                  data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Color Theme</h6>
                    <div class="theme-setting-options">
                        <ul class="choose-theme list-unstyled mb-0">
                            <li title="white" class="active">
                                <div class="white"></div>
                            </li>
                            <li title="cyan">
                                <div class="cyan"></div>
                            </li>
                            <li title="black">
                                <div class="black"></div>
                            </li>
                            <li title="purple">
                                <div class="purple"></div>
                            </li>
                            <li title="orange">
                                <div class="orange"></div>
                            </li>
                            <li title="green">
                                <div class="green"></div>
                            </li>
                            <li title="red">
                                <div class="red"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                        <label class="m-b-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                   id="mini_sidebar_setting">
                            <span class="custom-switch-indicator"></span>
                            <span class="control-label p-l-10">Mini Sidebar</span>
                        </label>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <div class="theme-setting-options">
                        <label class="m-b-0">
                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                   id="sticky_header_setting">
                            <span class="custom-switch-indicator"></span>
                            <span class="control-label p-l-10">Sticky Header</span>
                        </label>
                    </div>
                </div>
                <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                    <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                        <i class="fas fa-undo"></i> Restore Default
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>