<tr xmlns:th="http://www.thymeleaf.org" th:each="row,i : ${carts}"  th:if="${not #lists.isEmpty(carts)}">
    <td th:text="${i.index+1}"></td>
    <td th:text="${row.items.barcode}"></td>
    <td th:text="${row.items.name}"></td>
    <td class="rupiah" th:text="${row.items.price}"></td>
    <td th:text="${row.qty}"></td>
    <td th:text="${row.discount_item}"></td>
    <td class="total" id="total" th:text="${row.total}"></td>
    <td>
        <a href="javascript:void(0)" class="btn btn-sm btn-warning btn-min" title="Kurangi Data" th:cart-id="${row.cart_id}">
            <i class="fas fa-sm fa fa-minus"></i></a>
        <a href="javascript:void(0)" class="btn btn-sm btn-success btn-plus" title="Tambah Data" th:cart-id="${row.cart_id}">
            <i class="fas fa-sm fa fa-plus"></i></a>
        <button id="update_cart" data-toggle="modal" data-target="#modal-item-edit"
                th:data-cartid="${row.cart_id}"
                th:data-barcode="${row.items.barcode}"
                th:data-product="${row.items.name}"
                th:data-price="${row.items.price}"
                th:data-qty="${row.qty}"
                th:data-discount="${row.discount_item}"
                th:data-total="${row.total}"
                title="Edit Cart"
                class="btn btn-sm btn-primary">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <a href="javascript:void(0)" class="btn btn-sm btn-danger btn-delete" title="Hapus Data" th:cart-id="${row.cart_id}">
            <i class="fas fa-sm fa fa-trash"></i></a>
    </td>
</tr>

<tr  th:if="${#lists.isEmpty(carts)}">
    <td colspan="8" class="text-center">
        No data available
    </td>
</tr>